<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset"utf-8">
        <title>おみくじ</title>
    </head>
    <body>
        <h1>おみくじ</h1>
        <% if params['act'] != nil %>
            <% fortune = ['大吉', '吉', '中吉', '小吉', '末吉', '凶'] %>
            <% result = fortune[rand(0..5)] %>
        <% else %>
            <% result = 'ありません' %>
        <% end %>
        
        <p>おみくじの結果:<% result %></p>
        <form action ="/" method="POST">
            <botton type="submit" name="act" value="draw">おみくじを引く！</botton>
        </form>
    </body>
</html>