<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset"utf-8">
        <title>おみくじ</title>
    </head>
    <body>
        <h1>おみくじ</h1>
        <% result = "ありません" %>
        <p>おみくじの結果:<% result %></p>
        <form action ="/" method="POST">
            <botton type="submit" name="act" value="draw">おみくじを引く！</botton>
        </form>
    </body>
</html>